%btn {
  display: inline-block;
  padding: 10px 20px;
  margin: auto 10px;
  height: 40px;
  max-width: 150px;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  // font-weight: bold;
  border-radius: 100px;
  white-space: nowrap;

  &:hover {
    transform: scale(1.01);
    transition-duration: 0.1s;
  }
  &:focus {
    -webkit-tap-highlight-color: transparent;
  }
}
%tooltipBox {
  position: absolute;
  width: 80px;
  z-index: 1;
  line-height: 1.2;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  top: 160%;
  left: -26px;
  margin-top: 10px;
  padding: 2px 0;
  padding-top: 3px;
  border: 1px solid (rgba(1, 1, 17, 0.8));
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  margin-left: 10px;
  @include set-background(rgba(1, 1, 17, 0.8));
}

%tooltipArrow {
  content: '';
  position: absolute;
  top: 22px;
  right: 7px;
  border: 8px solid (rgba(1, 1, 17, 0.8));
  border-color: transparent transparent (rgba(1, 1, 17, 0.8)) transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-primary {
  @extend %btn;
  @include set-background(lighten($primary-color, 5%));

  &:hover {
    background-color: $primary-color;
  }
}

.btn-secondary {
  @extend %btn;
  @include set-background(lighten($secondary-color, 95%));

  &:hover {
    background-color: (lighten($secondary-color, 93%));
  }
}
