footer {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px auto;
  color: $light-color;
  #footerMain {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    background: (lighten($secondary-color, 30%));
    padding: 20px 50px;

    div {
      width: 300px;
      padding: 0 10px;
      & span {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }
    div:first-child {
      align-self: center;
    }
    & > :last-child {
      max-width: 100px;
    }
    .footerDiv {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      & a {
        margin: 2px;
        color: $light-color;
        margin-left: -15px;
      }
      & a i:first-child {
        width: 10px;
        visibility: hidden;
      }
    }
  }
  #footerBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: (lighten($secondary-color, 20%));
    font-size: 14px;
  }
  #subscribe form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #email {
      width: 100%;
      height: 40px;
      margin: 30px 0 10px 0;
      padding: 5px;
      font-size: 16px;
      border: 1px solid (lighten($secondary-color, 80%));
      border-radius: 5px;
    }
    & input:nth-child(3) {
      width: 100px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
    }
    & label {
      font-size: 18px;
    }
  }
}
