#nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // color: $light-color;
  background: #e6fdff;
  background: (lighten($primary-color, 47%));
  font-size: 14px;
  border-bottom: 2px solid $primary-color;
  // #nav-data {
  //   & > li:not(:first-child) {
  //     white-space: nowrap;
  //   }
  // }
  #logo {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 30px;
    & > li {
      margin: 10px 0;
      text-align: center;
    }
  }
  > ul:first-child {
    color: $secondary-color;
    > li {
      padding-right: 25px;
      a {
        color: $primary-color;
      }
    }
  }
  > ul:last-child {
    & > li:last-child a {
      background-color: rgb(149, 86, 227);
      &:hover {
        background-color: lighten(rgb(149, 86, 227), 5%);
      }
    }
  }
}

#navbar {
  padding: 0 20px;
  margin: 0 auto;
  overflow: none;
  color: (lighten($secondary-color, 10%));

  #base-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-stack;
    font-size: 16px;
    margin-top: 50px;
    border-top: 2px solid $primary-light;
    border-bottom: 2px solid $primary-light;
    & > li {
      margin-right: -10px;
      user-select: none;
      &:first-child {
        padding-right: 40px;
      }
      &:first-child a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-stack-s;
        font-size: 18px;
        & img {
          margin-right: 5px;
        }
      }
      &:not(:nth-child(5)):not(:first-child) > a {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
      &:not(:nth-child(5)):not(:first-child) > a::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $primary-color;
        width: 0;
        transition: width 0.3s linear;
        height: 2px;
        pointer-events: none;
      }
      ul {
        display: none;
      }
    }
    // Styling dropdown menu
    & > li:nth-child(2) {
      position: relative;
      cursor: pointer;
      i {
        color: (lighten($primary-color, 35%));
      }
      &:hover i {
        transform: rotate(180deg);
        color: $primary-color;
      }
      &:hover ul {
        display: block;
        position: absolute;
        z-index: 1;
        width: 240px;
        background-color: $light-color;
        border: solid 1px (lighten($secondary-color, 85%));
        margin-top: 5px;
        li {
          margin: 0;
          padding: 0 0 10px 10px;
          a {
            color: (lighten($secondary-color, 20%));
          }
          &:first-child {
            padding-top: 10px;
          }
          &::after {
            content: '';
            display: block;
            background-color: $primary-light;
            width: 0;
            transition: width 0.5s;
            height: 1px;
            margin-top: 2px;
          }
          &:last-child {
            padding-bottom: 5px;
          }
        }
      }
    }
    // Styling search bar
    & > :nth-child(5) {
      margin-left: 2rem;
      padding: 0;
      max-width: 40rem;
      flex: 1;
      label {
        position: relative;
        input {
          position: relative;
          width: 100%;
          padding: 10px;
          height: 35px;
          background: (lighten(#000, 94%));
          font-size: 13px;
          font-family: $font-stack-s;
          border: solid 1px (lighten($secondary-color, 87%));
          border-radius: 4px;
          &:focus {
            outline: none;
          }
        }
        input::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
        i {
          position: absolute;
          cursor: pointer;
          padding: 10px 22px;
          right: 0px;
          top: -7px;
          text-align: center;
          font-size: 22px;
          color: $primary-light;
        }
        i:hover {
          font-size: 24px;
          color: $primary-color;
          transition: color 0.5s, width 0.5s, height 0.5s;
        }
      }
    }

    & > :last-child {
      margin-left: 20px;
      i {
        color: $primary-light;
        align-self: center;
        margin-left: 5px;
      }
      a:hover i {
        color: $primary-color;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 1rem;
    li {
      padding: 15px;
    }
  }
}

#burgerMenu {
  display: none;
  color: $primary-color;
  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}

#nav-top .signout {
  display: none;
  font-size: 1rem;

  #username {
    color: blue;
  }
}

#nav-top .hide-form {
  display: none;
}

#nav-top .show-signout {
  display: flex;
}
