@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  overflow-y: scroll;
  font-family: $font-stack-s;
  line-height: 1.6;
  font-size: 16px;
  color: (lighten($secondary-color, 20%));
}

#home-d {
  min-height: 100vh;
}

#chartMain {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chart {
  flex-grow: 1;
  max-width: 1000px;
  margin: 35px;
  padding: 20px;
  border: 5px solid $primary-light;
}

#coinList {
  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 7px;
    padding: 2px;
    border-bottom: 2px solid transparent;
    width: fit-content;
    img {
      width: 22px;
      margin-right: 10px;
    }
    span:nth-child(3) {
      font-size: 12px;
      margin-left: 10px;
    }
  }
}

#toolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  #intervals a:not(:last-child) {
    margin-right: 20px;
  }
  #coin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      margin-right: 10px;
    }
    span:nth-child(2) {
      font-weight: bold;
    }
    span:nth-child(3) {
      font-size: 12px;
      margin-left: 10px;
    }
  }
  #chartData a:not(:last-child) {
    margin-right: 10px;
  }
}

#myChart {
  background: #fff;
}

@import 'nav';
@import 'utilities';
@import 'buttons';
@import 'media';
@import 'loader';
@import 'reload';
@import 'footer';
