@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  overflow-y: scroll;
  font-family: $font-stack-s;
  line-height: 1.6;
  font-size: 16px;
  color: (lighten($secondary-color, 20%));
}

#home-b {
  margin-top: 150px;
  #table-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
    padding: 0 70px;
    margin-bottom: 5px;
    font-family: $font-stack;
    div {
      display: flex;
      align-items: center;
      justify-content: start;
    }
    div > div {
      border-bottom: 2px solid transparent;
      padding: 0 2px;
      cursor: pointer;
    }
    div > div:hover {
      border-color: $primary-2;
    }
    #total a,
    #markets a {
      margin-left: 5px;
      font-family: $font-stack-s;
      font-size: 15px;
      & span {
        color: $primary-color;
      }
    }
    #markets {
      margin-left: 15px;
    }
  }
}

#finance-table {
  border-collapse: collapse;
  visibility: hidden;
  width: 750px;
  margin: auto;
  thead {
    border-top: 1px solid (lighten($secondary-color, 80%));
    border-bottom: 2px solid (lighten($secondary-color, 80%));
    th {
      font-weight: bold;
      line-height: 40px;
      width: 150px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      th:first-child {
        width: 20rem;
      }
      a i {
        visibility: hidden;
        color: (lighten($secondary-color, 70%));
        transform: rotate(0);
      }
      a:hover i {
        visibility: visible;
      }
      .down {
        transform: rotate(180deg);
      }
    }
  }
  #mt-body {
    // Styling cells
    td {
      padding: 20px 20px;
      font-size: 14px;
      text-align: center;
      &:not(:nth-child(1)) {
        font-family: $font-stack;
        font-weight: bold;
        color: (lighten($secondary-color, 5%));
      }
    }
    tr {
      border-bottom: 1px solid (lighten($secondary-color, 80%));
      td {
        max-width: 100px;
      }
      img {
        width: 20px;
        margin-right: 10px;
      }
      & > :nth-child(1) {
        display: flex;
        font-weight: normal;
        font-size: 16px;
        font-family: $font-stack;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
      }
    }
    .select {
      width: 100px;
    }
  }
}

.span-info {
  color: $primary-color;
}

@import 'nav';
@import 'utilities';
@import 'buttons';
@import 'media';
