@import 'config';
@import 'nav';
@import 'utilities';
@import 'buttons';
@import 'loader';
@import 'footer';
@import 'media';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  overflow-y: scroll;
  font-family: $font-stack-s;
  line-height: 1.6;
  font-size: 16px;
  color: (lighten($secondary-color, 20%));
}

#form-container {
  @include flex-center;
  flex-direction: column;
  margin: 5rem 0;

  a:first-child {
    @include flex-center;
    font-size: 1.5rem;
    margin-bottom: 5rem;

    img {
      margin-right: 10px;
    }
  }

  .form {
    @include flex-center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 0;
    width: 340px;
    border: 3px solid lightblue;
    border-radius: 10px;

    @media screen and (min-width: 450px) {
      width: 400px;
    }

    .title {
      margin-bottom: 2rem;
      font-size: 30px;
      font-family: fantasy;
      font-weight: bold;
    }

    #form-wrap {
      @include flex-center;
      justify-content: space-around;
      flex-direction: column;

      #warning {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      input {
        padding: 16px;
        border: 2px solid #cdcaff;
        border-radius: 6px;
        margin: 5px;
        outline: none;
        font-size: 1rem;
      }

      %button-base {
        @include flex-center;
        border: none;
        color: white;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 9px;
        cursor: pointer;
        text-align: center;
      }

      #login-button {
        @extend %button-base;
        background-color: #f70606;

        &:hover {
          background-color: darken(#f70606, 10%);
        }
      }

      #signup-button {
        @extend %button-base;
        background-color: $primary-color;

        &:hover {
          background-color: lighten($primary-color, 10%);
        }
      }

      button {
        margin-top: 40px;
        width: 110px;
        height: 40px;
      }

      a {
        width: 100px;
        height: 30px;
      }

      .or {
        margin: 10px 0;
        font-weight: bold;
        font-size: 15px;
      }
    }

    #warning {
      color: red;
    }
  }
}
