@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  overflow-y: scroll;
  font-family: $font-stack-s;
  line-height: 1.6;
  font-size: 16px;
  color: (lighten($secondary-color, 20%));
}

#home-c {
  margin-top: 100px;
  #news-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 5px solid lighten(($primary-color), 30%);
    font-weight: bold;
    font-size: 20px;
    span {
      font-size: 12px;
      font-weight: bold;
      border: 3px solid $primary-light;
      padding: 3px;
      margin-right: 10px;
      cursor: pointer;
    }
    .clicked {
      border-color: $primary-color;
    }
    .clicked:hover {
      border-color: $primary-color;
    }
    span:hover {
      border-color: (lighten($primary-color, 30%));
    }
    span:active {
      transform: scale(0.95);
    }
    span:first-child {
      margin-left: 5px;
    }
  }
  .link {
    color: $primary-color;
  }
  .link:hover {
    border-bottom: 2px solid (lighten($primary-color, 20%));
  }
  #load {
    visibility: hidden;
    display: block;
    margin: auto;
  }
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px auto 0 auto;
    max-width: 70%;
    .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 50px;
      border: 5px solid $primary-color;
      padding: 10px;
      width: 100%;
      color: #fff;
      background: rgb(45, 48, 71);
      .projectInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .project {
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            margin-right: 10px;
          }
          span:nth-child(2) {
            font-weight: bold;
          }
          span:nth-child(3) {
            font-size: 12px;
            margin-left: 10px;
          }
        }
      }
    }
    .topInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .timeStamp {
        font-family: $font-stack-s;
        font-size: 15px;
        padding: 2px;
        border-bottom: 1px solid (lighten($primary-color, 20%));
      }
      .category {
        font-size: 10px;
        color: white;
        span {
          padding: 5px;
          border-radius: 5px;
        }
        span:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

.coin {
  @include set-background(orange);
}

.market {
  @include set-background(purple);
}

.general {
  @include set-background($primary-color);
}

.milestone {
  @include set-background($primary-light);
}

.partnership {
  @include set-background(green);
}

.exchange_listing {
  @include set-background(darkgrey);
}

.software_release {
  @include set-background(rgb(99, 12, 12));
}

.fund_movement {
  @include set-background(rgb(144, 103, 27));
}

.new_listings {
  @include set-background(yellow);
}

.event {
  @include set-background(rgb(52, 11, 52));
}

@import 'nav';
@import 'utilities';
@import 'buttons';
@import 'media';
@import 'loader';
@import 'footer';
