@import 'config';
@import 'nav';
@import 'utilities';
@import 'buttons';
@import 'media';
@import 'loader';
@import 'reload';
@import 'footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  overflow-y: scroll;
  font-family: $font-stack-s;
  line-height: 1.6;
  font-size: 16px;
  color: (lighten($secondary-color, 20%));
}

#home {
  margin-top: 150px;
  min-height: 100vh;

  @media screen and (max-width: 600px) {
    margin-top: 100px;
  }

  #table-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    font-family: $font-stack;
    // font-weight: bold;

    @media screen and (max-width: 600px) {
      padding: 0;
    }

    @media screen and (max-width: 450px) {
      flex-direction: column;

      #favEl {
        justify-content: space-around;
        width: 100%;
        margin-top: 1rem;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div > div {
      border-bottom: 2px solid transparent;
      margin: 0 2px;
      cursor: pointer;
    }
    #total a,
    #markets a {
      font-family: $font-stack-s;
      font-size: 15px;
      & span {
        color: $primary-color;
      }
    }
    #total a:hover,
    #markets a:hover {
      border-bottom: solid 2px rgb(177, 169, 204);
      margin-bottom: -2px;
    }

    #markets {
      margin-left: 15px;
    }
    #favorites {
      margin-right: 15px;
      span {
        margin-right: 5px;
      }
      i {
        color: lighten(gold, 30%);
        transition: color 0.5s;
      }
      &:active i {
        transform: scale(0.95);
      }
      .active {
        color: gold;
      }
    }
    #list-pages {
      border: none;
      color: $primary-light;
      cursor: auto;
      i {
        font-size: 20px;
        transition: color 0.1s;
      }
      i:first-child {
        margin-right: 7px;
      }
    }
  }

  #main-table {
    border-collapse: collapse;
    visibility: hidden;
    width: 1200px;
    margin: auto;
    thead {
      border-top: 1px solid (lighten($secondary-color, 80%));
      border-bottom: 2px solid (lighten($secondary-color, 80%));
      th {
        font-weight: bold;
        line-height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        white-space: nowrap;

        &:not(:first-child):not(:nth-child(2)):not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(8))
          a {
          padding-right: 25px;
        }
        &:nth-child(5),
        &:nth-child(6) {
          padding-right: 10px;
        }
        &:nth-child(8) a {
          padding-right: 12px;
        }
        a i {
          visibility: hidden;
          color: (lighten($secondary-color, 70%));
          transform: rotate(0);
        }
        a:hover i {
          visibility: visible;
        }
        .down {
          transform: rotate(180deg);
        }
      }
    }
    #mt-body {
      // Styling cells
      td {
        padding: 20px 20px;
        font-size: 14px;
        white-space: nowrap;
        &:not(:nth-child(2)) {
          font-family: $font-stack;
          // font-weight: bold;
          color: $secondary-color;
        }
        &:nth-child(5),
        &:nth-child(6) {
          text-align: center;
          font-weight: bold;
        }
      }
      tr {
        border-bottom: 1px solid (lighten($secondary-color, 80%));
        img {
          width: 20px;
          margin-right: 10px;
        }
        & > :nth-child(1) {
          text-align: center;
        }
        // Positioning icon and name
        & > :nth-child(2) {
          display: flex;
          position: relative;
          width: 20rem;
          font-weight: normal;
          font-size: 16px;
          font-family: $font-stack;
          align-items: center;
          justify-content: flex-start;
          & > :first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            border-bottom: 2px solid transparent;

            &:hover {
              border-bottom: solid 2px rgb(177, 169, 204);
            }
          }
          & > :last-child {
            position: absolute;
            font-family: $font-stack-s;
            transform: translateX(15rem);
            font-size: 12px;
            font-weight: lighter;
            color: (lighten($secondary-color, 40%));
          }
        }
        & > :nth-child(8) {
          padding: 0 20px;
          & canvas {
            width: 120px;
          }
        }
        & > :last-child {
          width: 100%;
          .newFav {
            color: $primary-color;
          }
          a {
            margin-right: 7px;
          }
          .favHover:hover {
            color: (lighten($primary-color, 35%));
          }
          a i {
            color: $primary-light;
          }
          i:active {
            transform: scale(0.95);
          }
          // Adding tooltips
          & > :first-child {
            position: relative;

            &::before {
              content: attr(data-fav);
              @extend %tooltipBox;
              white-space: normal;
            }

            &::after {
              @extend %tooltipArrow;
              margin-right: -8px;
            }

            &:hover::before {
              visibility: visible;
              opacity: 1;
            }

            &:hover::after {
              visibility: visible;
              opacity: 1;
            }
          }
          // Second tooltip
          & > :nth-child(2) {
            position: relative;
            &::before {
              content: attr(data-port);
              @extend %tooltipBox;
              white-space: normal;
            }
            &::after {
              @extend %tooltipArrow;
              margin-right: -9px;
            }

            &:hover::before {
              visibility: visible;
              opacity: 1;
            }

            &:hover::after {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    a {
      position: relative;
      margin-left: 20px;
      i {
        font-size: 30px;
        color: $primary-light;
      }
    }
    a:hover i {
      color: $primary-color;
      transform: scale(1.05);
    }
    a::before {
      content: attr(data-message);
      @extend %tooltipBox;
    }
    a:hover::before {
      visibility: visible;
      opacity: 100;
    }
    a::after {
      @extend %tooltipArrow;
      margin-top: 25px;
      margin-right: -3px;
    }
    a:hover::after {
      visibility: visible;
      opacity: 100;
    }
  }
}

#coin-container {
  min-height: 100vh;
  margin: 5rem 0 5rem 0;
  padding: 0 5vw;

  .num {
    color: blue;
    border: 2px solid white;
    border-radius: 5px;
    margin: 3px;
    padding: 6px;
  }

  .label {
    color: #000;
    font-weight: bold;
  }

  .lead {
    color: #000f81;
  }

  // TITLE
  #title-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 4px solid #1b18c9;
    padding-bottom: 2rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 750px) {
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
    }

    #market-cap {
      border: none;
      font-size: 1.2rem;

      @media screen and (max-width: 450px) {
        .label {
          display: block;
        }
      }
    }

    #coin-title {
      @include flex-center;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      @media screen and (min-width: 750px) {
        margin: 0;
      }

      img {
        width: 35px;
        margin-right: 10px;
      }

      span:first-of-type {
        font-weight: bold;
        font-size: 1.2rem;
      }

      span:nth-of-type(2) {
        margin: 0 30px 0 15px;
        font-size: 15px;
        color: #8486d5;
        font-weight: bold;
      }

      span:last-of-type {
        font-size: 1.3rem;
        border: 4px solid #dddddd;
        border-radius: 10px;
        padding: 5px;
      }
    }
  }

  #coin-details {
    #market-info {
      display: flex;
      flex-direction: column;
    }

    #price-change {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-top: 2rem;

      #price-change-period {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;

        .num {
          margin: 0.5rem 1rem 0.5rem 0;
        }
      }

      #price-change-all-time {
        display: flex;
        flex-direction: column;

        .high,
        .low {
          margin: 1rem 0;
        }

        #ath-date {
          margin-left: 2rem;
        }

        .label {
          display: block;
          margin-bottom: 0.5rem;
        }
      }
    }

    #desc {
      display: flex;
      flex-direction: column;
      #description {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;

        a {
          color: blue;
        }
      }

      #dev-info {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .bold {
    font-weight: bold;
  }
}
