@import 'config';
@import 'nav';
@import 'utilities';
@import 'buttons';
@import 'media';
@import 'loader';
@import 'reload';
@import 'footer';
@import 'coinDetails';
@import 'confirmation';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  overflow-y: scroll;
  font-family: $font-stack-s;
  line-height: 1.6;
  font-size: 16px;
  color: (lighten($secondary-color, 20%));
}

#home {
  margin-top: 150px;
  min-height: 100vh;

  @media screen and (max-width: 600px) {
    margin-top: 100px;
  }

  #table-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    font-family: $font-stack;
    // font-weight: bold;

    @media screen and (max-width: 600px) {
      padding: 0;
    }

    @media screen and (max-width: 450px) {
      flex-direction: column;

      #favEl {
        justify-content: space-around;
        width: 100%;
        margin-top: 1rem;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div > div {
      border-bottom: 2px solid transparent;
      margin: 0 2px;
      cursor: pointer;
    }
    #total a,
    #markets a {
      font-family: $font-stack-s;
      font-size: 15px;
      & span {
        color: $primary-color;
      }
    }
    #total a:hover,
    #markets a:hover {
      border-bottom: solid 2px rgb(177, 169, 204);
      margin-bottom: -2px;
    }

    #markets {
      margin-left: 15px;
    }
    #favorites {
      margin-right: 15px;
      span {
        margin-right: 5px;
      }
      i {
        color: lighten(gold, 30%);
        transition: color 0.5s;
      }
      &:active i {
        transform: scale(0.95);
      }
      .active {
        color: gold;
      }
    }
    #list-pages {
      border: none;
      color: $primary-light;
      cursor: auto;
      i {
        font-size: 20px;
        transition: color 0.1s;
      }
      i:first-child {
        margin-right: 7px;
      }
    }
  }

  #main-table {
    border-collapse: collapse;
    visibility: hidden;
    width: 1200px;
    margin: auto;
    thead {
      border-top: 1px solid (lighten($secondary-color, 80%));
      border-bottom: 2px solid (lighten($secondary-color, 80%));
      th {
        font-weight: bold;
        line-height: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        white-space: nowrap;

        &:not(:first-child):not(:nth-child(2)):not(:nth-child(5)):not(:nth-child(6))
          a {
          padding-right: 25px;
        }
        &:nth-child(5),
        &:nth-child(6) {
          padding-right: 10px;
        }
        &:last-child span {
          font-size: 0.9rem;
          padding: 0 10px;
          color: #1c1b70;
        }
        a i {
          visibility: hidden;
          color: (lighten($secondary-color, 70%));
          transform: rotate(0);
        }
        a:hover i {
          visibility: visible;
        }
        .down {
          transform: rotate(180deg);
        }
      }
    }
    #mt-body {
      // Styling cells
      td {
        padding: 20px 20px;
        font-size: 14px;
        white-space: nowrap;
        &:not(:nth-child(2)) {
          font-family: $font-stack-s;
          // font-weight: bold;
          color: $secondary-color;
        }
        &:nth-child(5),
        &:nth-child(6) {
          text-align: center;
          font-weight: bold;
        }
      }
      tr {
        border-bottom: 1px solid (lighten($secondary-color, 80%));
        img {
          width: 20px;
          margin-right: 10px;
        }
        & > :nth-child(1) {
          text-align: center;
        }
        // Positioning icon and name
        & > :nth-child(2) {
          display: flex;
          position: relative;
          width: 20rem;
          font-weight: normal;
          font-size: 16px;
          font-family: $font-stack;
          align-items: center;
          justify-content: flex-start;

          @media screen and (max-width: 1400px) {
            width: auto;
          }
          & > :first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            border-bottom: 2px solid transparent;
            margin-bottom: -4px;

            &:hover {
              border-bottom: solid 2px rgb(177, 169, 204);
            }
          }
          & > :last-child {
            position: absolute;
            font-family: $font-stack-s;
            transform: translateX(15rem);
            font-size: 12px;
            font-weight: lighter;
            color: (lighten($secondary-color, 40%));

            @media screen and (max-width: 1400px) {
              position: static;
              transform: translateX(0);
              margin-left: 15px;
            }
          }
        }
        & > :nth-child(8) {
          padding: 0 20px;
          & canvas {
            width: 120px;
          }
        }
        & > :last-child {
          width: 100%;
          text-align: center;

          a {
            margin-right: 7px;
            i {
              font-size: 16px;
            }
          }
          .favHover:hover {
            color: (lighten($primary-color, 35%));
          }
          .favorite-coin {
            i {
              color: $primary-light;
              padding: 3px;
            }
            .newFav {
              color: $primary-color;
            }
          }
          .portfolio {
            color: #c3e3bb;
          }
          .portfolio:hover {
            color: (darken(#c3e3bb, 10%));
          }
          .portfolio-active {
            color: green;
          }
          i:active {
            transform: scale(0.95);
          }
          // Adding tooltips
          & > :first-child {
            position: relative;

            &::before {
              content: attr(data-fav);
              @extend %tooltipBox;
              white-space: normal;
            }

            &::after {
              @extend %tooltipArrow;
              margin-right: -4px;
            }

            &:hover::before {
              visibility: visible;
              opacity: 1;
            }

            &:hover::after {
              visibility: visible;
              opacity: 1;
            }
          }
          // Second tooltip
          & > :nth-child(2) {
            position: relative;
            &::before {
              content: attr(data-port);
              @extend %tooltipBox;
              white-space: normal;
            }
            &::after {
              @extend %tooltipArrow;
              margin-right: -8px;
            }

            &:hover::before {
              visibility: visible;
              opacity: 1;
            }

            &:hover::after {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    a {
      position: relative;
      margin-left: 20px;
      i {
        font-size: 30px;
        color: $primary-light;
      }
    }
    a:hover i {
      color: $primary-color;
      transform: scale(1.05);
    }
    a::before {
      content: attr(data-message);
      @extend %tooltipBox;
    }
    a:hover::before {
      visibility: visible;
      opacity: 100;
    }
    a::after {
      @extend %tooltipArrow;
      margin-top: 25px;
      margin-right: -3px;
    }
    a:hover::after {
      visibility: visible;
      opacity: 100;
    }
  }
}
